*{
    font-family: "BlexMono Nerd Font";
}

text {
    color: #828BB8;
}

.bar {
    background-color: unset;
    margin: 0px 4px 0px 4px;
}

.dock {
    background-color: #222436;
    opacity: 0.9;
    border: 3px solid #1B1D2B;
    border-radius: 16px;
    padding: 4px 15px 4px 15px;
    margin: 6px 4px 0px 4px;
    font-size: 13px;
}

.user {
    margin: -6px -4px -6px -4px;
    font-size: 18px;
}

.battery trough, .battery progress {
    padding: 4px 0px 4px 0px;
    border-radius: 3px;
    min-height: 4px;
}

.battery progress {
    min-width: 1px;
}
.battery trough {
    min-width: 40px;
    background-color: lighten($color: #1B1D2B, $amount: 25);
}

.battery label {
    color: #1B1D2B;
    font-size: 10px;
    font-weight: bold;
}

.battery.low progress {
    background-color: #FF757F;
}

.battery.low label {
    color: #828BB8;
}

.battery.ac progress {
    background-color: #C3E88D;
}

// Battery lid
.battery box {
    min-width: 2px;
    margin: 7px 0px 7px 1px;
    background-color: lighten($color: #1B1D2B, $amount: 25);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.workspace.module {
    margin: -4px -15px -4px -15px;
}

.workspace.entry {
    padding: 0px 14px 0px 14px;
    color: #828BB8;
    border-radius: 14px;
}

.workspace.entry box {
    padding: 0px 2px 0px 8px;
}

.workspace.entry.current {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3C3E4F;
}

.workspace.entry.current box {
    color: #F5A97F;
}

.time {
    font-weight: bold;
}

.system circular-progress {
    background-color: lighten($color: #1B1D2B, $amount: 25);
}

.system label {
    margin: 2px 2px 2px 2px;
    padding-right: 2px;
    border-radius: 10px;
    background-color: #222436;
    font-size: 8px;
}

.system.warning circular-progress {
    color: #FFC777;
}

.system.alert * {
    color: #FF757F;
}
