*{
    all: unset;
    font-family: "BlexMono Nerd Font";
    font-size: 13px;
    color: #FFFFFF;
}

.bar {
    margin: 6px 8px 0px 8px;
}

.battery {
    margin: 4px 0px 4px 0px;
    background-color: grey;
    border-radius: 3px;
}

.battery-capacity {
    background-color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.battery-label {
    color: #1B1D2B;
    font-size: 10px;
    font-weight: bold;
}

.battery-lid {
    margin: 8px 0px 8px 1px;
    background-color: grey;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.dock-box, .workspace-box, .user {
    background-color: #222436;
    opacity: 0.9;
    border-radius: 14px;
    // border: 3px solid #1B1D2B;
}

.dock-box {
    padding: 5px 18px 5px 18px;
}

.user {
    font-size: 15px;
    color: #C099FF;
    padding: 0px 14px 0px 14px;
}

.workspace-box {
    padding: 4px 4px 4px 4px;
}

.graph {
    margin-right: 6px;
    color: #FFC777;
    background-color: #FF757F;
    padding: 0px 3px 0px 3px;
}

.graph-text {
    font-size: 8px;
    font-weight: bold;
}

.graph-title {
    font-size: 5px;
}

.time {
    font-weight: bold;
}

.ws-active, .ws-inactive {
    padding: 0px 18px 0px 14px;
}

.ws-active {
    font-weight: bold;
    background-color: #3C3E4F;
    border-radius: 14px;
}

.ws-active-id {
    font-weight: bold;
}

.ws-inactive-id, .ws-inactive-icon {
    color: #939AB7;
}

.ws-active-icon {
    color: #F5A97F;
}
